@import "https://at.alicdn.com/t/font_3228627_f1xpt08motf.css";

/* 多页面共享的css代码 */

body{
    font: normal 13px/1.618 Helvetica,Arial,sans-serif;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.hidden{
    display: none;
}

.btn{
    color: #fff;
}

.tip{
    font-size: 13px;
    color: #41ac52;
}

.btn:disabled{
    cursor: auto;
}

h2{
    font: 15px Arial, Helvetica, sans-serif;
    color: #072;
    margin: 0 0 12px 0;
    line-height: 150%;
}

h2 span.s{
    font: 12px Arial, Helvetica, sans-serif;
    color: #666666;
    line-height: 150%;
}

h2.section-title a{
    color: #494949;
    font-size: 24px;
}

h2 a:hover{
    background-color: #37a;
    color: #fff;
}

a.link{
    color: #37a;
}

a.link:hover{
    background-color: #37a;
    color: #fff;
}

a.btn-link{
    display: inline-block;
    vertical-align: middle;
    padding: 2px 10px;
    border-radius: 2px;
}